In [2]:
strings = input('入力してください>>>')
print(strings)

入力してください>>>fnndp
fnndp

In [5]:
name = input("私は鄒欣雨です。名前を入力してください>>>")
print("こんにちは！" + name + "さん")

私は鄒欣雨です。名前を入力してください>>>Quin
こんにちは！Quinさん

In [11]:
num = input("数値を入力してください>>>")
print(num + "の3.14倍は" +  str(float(num) * 3.14)  + "です")

数値を入力してください>>>3
3の3.14倍は9.42です

In [14]:
a, b, c = 10, 10, 3
a >= c

True

In [15]:
string = "abcdef"
"c" in string

True

In [17]:
array = [1, 2, 3, 4, 5]
print(array[3])

4

In [21]:
lista  = ["s", "b"]
listb = [ "t", "g", "y"]
print (lista + listb)
"t" in listb

['s', 'b', 't', 'g', 'y']

True