In [24]:
name = '''私は
鄒欣雨
です'''
print(name)
name

私は
鄒欣雨
です

'私は\n鄒欣雨\nです'

In [28]:
name1 = "鄒"
name2 = "欣雨"
print(name1, name2)
print(name1 + name2)

num1 = "10"
num2 = "3"
print(num1 + num2)
num1 = 10
num2 = 3
print(num1 + num2)
num1 = 10
num2 = float("3")
print(num1 + num2)

鄒 欣雨
鄒欣雨
103
13
13.0

In [1]:
"hello python"

'hello python'

In [5]:
"私は鄒 欣雨です"

'私は鄒 欣雨です'

In [4]:
print("私は鄒 欣雨です")

私は鄒 欣雨です

四則演算もできます

In [7]:
# 四則演算もできます
print(10 + 3)
print(10 - 3)

13
7

In [10]:
10.1 + 3
type(10)

int

In [9]:
type(10.0)

float

In [11]:
type("10.0")

str

In [12]:
a = 10
a =  a + 3
print(a)

13

In [14]:
text = "hello python"
print(text)

hello python

In [16]:
height = 1.7
weight  = 68
bmi = weight / height ** 2
print(bmi)

23.529411764705884

In [18]:
a = 10; b = 3; c = 20
print(a, b ,c)
a, b, c = 10, 3 ,20
print(a, b ,c)

10 3 20
10 3 20